In [ ]:
#Data wrangling
import pandas as pd
import numpy as np 

def wrangle(data):
    data.dropna(inplace=True)
    return data

In [3]:
df = pd.read_csv(r"C:\Users\HP\BasicTechTraining\Basic\Python\Day_04\Global_EV_Charging_Dataset\charging_stations_2025_world.csv")

In [4]:
df.isnull().sum()

id                    0
name                  0
city              22189
country_code          1
state_province    69998
latitude              0
longitude             0
ports                 0
power_kw           4660
power_class           0
is_fast_dc            0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242417 entries, 0 to 242416
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              242417 non-null  int64
 1   name            242417 non-null  object
 2   city            220228 non-null  object
 3   country_code    242416 non-null  object
 4   state_province  172419 non-null  object
 5   latitude        242417 non-null  float64
 6   longitude       242417 non-null  float64
 7   ports           242417 non-null  int64
 8   power_kw        237757 non-null  float64
 9   power_class     242417 non-null  object
 10  is_fast_dc      242417 non-null  bool
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 18.7+ MB

In [9]:
df.dropna(inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161769 entries, 76 to 242413
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              161769 non-null  int64
 1   name            161769 non-null  object
 2   city            161769 non-null  object
 3   country_code    161769 non-null  object
 4   state_province  161769 non-null  object
 5   latitude        161769 non-null  float64
 6   longitude       161769 non-null  float64
 7   ports           161769 non-null  int64
 8   power_kw        161769 non-null  float64
 9   power_class     161769 non-null  object
 10  is_fast_dc      161769 non-null  bool
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 13.7+ MB

In [11]:
df.isnull().sum()

id                0
name              0
city              0
country_code      0
state_province    0
latitude          0
longitude         0
ports             0
power_kw          0
power_class       0
is_fast_dc        0
dtype: int64